@import "tailwindcss";

/* BelleFair */
@font-face {
  font-display: swap;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/bellefair-v15-latin-regular.woff2") format("woff2");
}
/* Barlow */
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/barlow-v13-latin-regular.woff2") format("woff2");
}
/* Barlow Condensed*/
@font-face {
  font-display: swap;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/barlow-condensed-v13-latin-regular.woff2") format("woff2");
}
/* Barlow Condensed bold*/
@font-face {
  font-display: swap;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/barlow-condensed-v13-latin-700.woff2") format("woff2");
}

@theme {
  /* fonts collection */
  --font-bellfair: "Bellefair", sans-serif;
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-c: "Barlow Condensed", sans-serif;

  /* color COLLECTION */
  --color-white: #ffffff;
  --color-blue-300: #d0d6f9;
  --color-blue-900: #0b0d17;
  --color-grey-border: #979797;
}

/*typography collection */
@utility text-preset-1 {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 9rem;
  line-height: 100%;
  letter-spacing: 0em;
}
@utility text-preset-1-mobile {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 5rem;
  line-height: 100%;
  letter-spacing: 0em;
}
@utility text-preset-2 {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 6.25rem;
  line-height: 114.6%;
  letter-spacing: 0em;
}
@utility text-preset-2-mobile {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 100%;
  letter-spacing: 0em;
}
@utility text-preset-2-tablet {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 5rem;
  line-height: 100%;
  letter-spacing: 0em;
}
@utility text-preset-3 {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 3.55rem;
  line-height: 64.2%;
  letter-spacing: 0em;
}
@utility text-preset-3-mobile {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0em;
}
@utility text-preset-3-tablet {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0em;
}
@utility text-preset-4 {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 2rem;
  line-height: 36.7%;
  letter-spacing: 0em;
}
@utility text-preset-4-mobile {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 0em;
}
@utility text-preset-4-tablet {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0em;
}
@utility text-preset-5 {
  font-family: var(--font-barlow-c);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 33.6%;
  letter-spacing: 0.14em;
}
@utility text-preset-5-tablet {
  font-family: var(--font-barlow-c);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 15%;
}
@utility text-preset-6 {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 100%;
  letter-spacing: 0em;
}
@utility text-preset-6-mobile {
  font-family: var(--font-bellfair);
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0em;
}
@utility text-preset-7 {
  font-family: var(--font-barlow-c);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16.8%;
  letter-spacing: 0.14em;
}
@utility text-preset-8 {
  font-family: var(--font-barlow-c);
  font-weight: 400;
  font-size: 1rem;
  /* line-height: 19.2%; */
  letter-spacing: 0.125em;
}
@utility text-preset-8-mobile {
  font-family: var(--font-barlow-c);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 100%;
  letter-spacing: 15%;
}
@utility text-preset-8-bold {
  font-family: var(--font-barlow-c);
  font-weight: 700;
  font-size: 1rem;
  /* line-height: 19.2%; */
  letter-spacing: 0.125em;
}
@utility text-preset-9 {
  font-family: var(--font-barlow);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 180%;
  letter-spacing: 0em;
}
@utility text-preset-9-mobile {
  font-family: var(--font-barlow);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 180%;
  letter-spacing: 0;
}
@utility text-preset-9-tablet {
  font-family: var(--font-barlow);
  font-weight: 400;
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 0;
}
/* A modern Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
